
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  font-family: 'Janna LT', sans-serif;
  /* overflow: hidden; */
}
.style2, .style3 {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  transition: all 0.4s;
  padding: .5rem .5rem .5rem 1rem;
}
.style2:after, .style3:after  {
  content: attr(data-link);
  background: #000;
  color: #fff;
  display: block;
  transition: all 0.4s;
  padding: .5rem .5rem .5rem 1rem;
  border-radius: 5px 5px 5px 5px;
  width: 100%;
}
.style3:after {
  position: absolute;
  top: 100%; 
}
.our-services .style3:after {
  background: #fff;
  color: #000;
}
.style3:hover{
  top:-100%;
}
.style3:hover:after {
  top:0;
}
:root {

  /* Colors: */
  --light-grey-color: #999B99;
  /* ---color: #C9C9C9;
  ---color: #7E7E7E; */
  --dark-blue-color: #082140;
  /* ---color: #BBBBBB;*/
  --grey2-color: #838383; 
  --black3-color: #151315; 
  --grey-color: #7A7F80;
  /* ---color: #E1E1E1;
  ---color: #ECECEC;
  ---color: #FFECEC; */
  --dark-grey-color: #707070;
  --light-color: #F2F2F2;
  --black2-color: #010400;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --light-black-color: #17191A;
  --blue-color: #4281A4;
  }
  
  
@font-face {
  font-family: 'Janna LT'; 
  src: url('../webfonts/Janna\ LT\ Regular.ttf') ;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Janna LT'; 
    src:  url('../webfonts/Janna\ LT\ Bold.ttf') ; 
    font-weight: bold;
    font-style: normal;
}


.trans-on-hover {
  display: inline-block !important;
  transition: transform .5s; 
}

.trans-on-hover:hover {
  transform: translateX(-20px) !important; 
  transition: transform .5s; 
}

  
  body{
    direction: rtl;
    overflow-x: hidden !important;
  }

/* navbar*/
#nav{
  /* display: none; */
  position: fixed;
  top: -100px;left: 0;
  width: 100%;
  z-index: 2222;
  transition: .3s;
 
}

nav.navbar{
  background-color: var(--black2-color);
  padding: 1.5rem 0;
  transition: .3s;
  /* position: fixed; */
  top: 0;left: 0;
  width: 100%;
    z-index: 2222;
}
#nav.bgShow{
  top: 0 !important;
  display: block !important;
  transition: .3s;
}
nav.navbar i{
  font-size: 32px;
  color: var(--white-color);
  cursor: pointer;
  transition: .3s;
}
nav.navbar i.close{
  display: none;
}

nav.navbar .nav-logo{
  width: 100px;
}
/* menu nav*/

.menu{
  height: 100% !important;
  background-color: var(--light-black-color);
  position: fixed;
  top: 0px;left: -100%;
  z-index: 2;
  width: 100%;
  transition: .3s;
  
}
.menu.active{
  left: 0 !important;
  overflow: hidden !important;
  /* height: calc(100vh - 72px) !important; */
}

.menu .menu-nav{
  background-color: var(--light-color);
  height: 100%;
  padding: 2rem 4rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-between;
}
.menu .contacts{
  z-index: 2 !important;
  position: relative;
  margin-bottom: 2rem;
}
.menu .contacts .links{
  gap: 10px;
}
.menu .menu-nav .menu-links{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 75% ; */
  
}
.menu .menu-nav .menu-links a{
  color: var(--black-color);
  font-size: 22px;
  font-weight: bold;
  margin: 1.3rem 0;
}

.menu-nav .contacts .contacts-info a{
  color: var(--black-color);
}
.menu-nav .contacts .contacts-info .email {
  margin-bottom: .75rem;
  gap: .5rem;
  font-weight: bold;
}
.menu-nav .contacts .contacts-info .number{
  gap: .5rem;
  font-weight: bold;
}
.menu-nav .contacts .links a ,
.menu-nav .contacts .links i{
  color: var(--black-color) !important;
  border-color: none !important;
  font-size: 20px !important;
  transition: .3s;
}

.menu-nav .contacts .links a:hover {
  color: var(--white-color) !important;
  background-color: var(--black-color) !important;
}
.menu-nav .contacts .links a:hover i{
  color: var(--white-color) !important;
}
.menu-work{
  padding: 2rem 0 0 2rem ;
}
.menu-work .latest h2{
  color: var(--white-color);
  margin-bottom: 1rem;
}

.menu-work .latest img{
  width: 60%;
  max-height: 100%;
}
.menu-work a.work img{
  width: 60%;
  max-height: 100%;
  }
.img-menu-footer{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 3rem;
  width: 92%;
}









  /* header*/
  header{
    height: 100vh;
  }

  header .header-body{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .vjs-theme-fantasy .vjs-control-bar {
    height: 54px;
    /* opacity: 0; */
    display: none;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: "\f101";
    display: none;
}
  header .header-body .header-btns{
    position: absolute;
    bottom: 7%;
    right: 0;
    transform: translate(0px, 7%);
  }

  header .header-body .header-btns .btn{
    padding: .4rem 2.5rem;
    border-radius: 0px;
    font-size: 20px;
    margin-left: 1rem;
  }
  header .header-body .header-btns .btn.btn-dark,
  header .header-body .header-btns .btn.btn-outline-dark:hover{
    background-color: var(--black-color);
    color: var(--white-color);
  }
/* about section*/
  section.about{
    padding: 3.5rem 0;
    background-color: var(--black2-color);
  }

  section.about p{
    color: var(--white-color);
    font-size: 20px;
    width: 40%;
    margin-bottom: -2rem;
  }
/* services section*/
  section.services{
    background-color: var(--light-black-color);
  }
  .services .service .card-header ,
  .services .service .card-body ,
  .services .service .card-footer ,
  .services .service .card{
background: transparent !important;
border: none !important;
  }
  section.services h2 , section.services h3{
    color: var(--white-color);
  }
  section.services .services-header{
    margin: 1rem 0 2.5rem 0;
  }
  section.services .services-header h2{
    font-size: 32px;
    font-weight: bold;
  }
  section.services p{
    color: var(--light-color);
    font-size: 20px;
    margin-bottom: 1rem;
    opacity: .6;
  }

  section.services .services-row .service{
    padding: 0 1.7rem ;
  }
  section.services .services-row .service p{
    font-size: 18px;
  }
  section.services .services-row .service a{
    color: var(--white-color);
    font-size: 24px;
    font-weight: bold;
  }
section.services .services-row .service:nth-child(n) {
  border-right: 1px solid var(--grey-color);
}
section.services .services-row .service:nth-child(1){
  border-right: none;
}

/* section projects*/
section.projects{
  height: 85vh;
  overflow-y: scroll;
}
.project{
  padding: 3rem 0;
  background-color: var(--black3-color);
}
section.projects .img-project,
.project .img-project{
  position: relative;
  max-height: 400px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scaleY(.925);
  transform-origin: top;
  transition: .3s;
}
.project .img-project:hover{
  transform: scaleY(1);
}
section.projects .img-project img ,
.project .img-project img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.projects .img-project .name-project ,
.project .img-project .name-project{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 1) 90%);
  color: var(--white-color);
  padding: 1rem 2rem 1rem 0;
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  font-weight: bold;
  transition: .3s;
  opacity: 0;
}
section.projects .img-project:hover .name-project,
.project .img-project:hover .name-project{
  opacity: 1;
}
/* section partners*/
section.partners{
  background-color: var(--black2-color);
  padding: 4rem 0 10rem 0;
}
section.partners .partners-header h2{
  color: var(--white-color);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2rem;
}
section.partners .owl-carousel{
  display: flex;
  flex-wrap: wrap-reverse;
}
section.partners .owl-theme .owl-stage-outer{
  margin-right: 4.5rem;
}
section.partners .owl-theme .owl-nav {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
}
.owl-theme .owl-nav .owl-btn{
  background-color: transparent !important;

}
 .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  font-size: 32px;
  width: 50px;
  height: 50px;
  background-color: var(--white-color);
}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: var(--light-black-color);
}
.project-info .proj-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}
.project-info .proj-nav [class*=proj-] {
  color: #FFF;
  font-size: 14px;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}
.project-info .proj-nav .proj-next,.project-info .proj-nav .proj-prev {
  font-size: 32px;
  width: 220px;
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  background-color: var(--light-black-color);
  color: var(--light-color);
}
.project-info .proj-nav .proj-next:hover,.project-info .proj-nav .proj-prev:hover {
  background-color: var(--black-color);
}
section.partners .owl-carousel .item{
  display: flex;
  justify-content: center;
}
section.partners .owl-carousel .item img{
  border-bottom: 1px solid var(--grey-color);
}

footer{
  background-color: var(--light-black-color);
}
footer .container{
  position: relative;
  height: 100%;
  z-index: 1;
  
}
footer .logo img{
  width: 20% !important;
}
 .overlay{
  display: flex;
  justify-content: flex-end;
  content: '';
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
}
 .overlay img{
  -o-object-fit: contain;
     object-fit: contain;
}
footer nav{
  z-index: 2;
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 .8rem 0;
}
footer nav .nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 0;
}
footer nav .nav-items .nav-item a{
  color: var(--white-color);
  font-size: 20px;
  font-weight: bold;
  transition: .3s;
}
footer nav .nav-items .nav-item a.active{
  color: var(--light-grey-color);
}
footer nav .nav-items .nav-item:hover a{
  color: var(--light-grey-color);
}
footer .contacts {
  border-top: 1px solid var(--light-grey-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2rem;
}
footer .contacts-info {
  gap: 1.5rem;
  flex-wrap: wrap;
}
footer .email , footer .number ,
footer .email a , footer .number a{
  /* flex-wrap: wrap; */
  gap: .3rem;
  align-items: center;
  color: var(--white-color);
  font-size: 18px;
}

.links{
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.links a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: .3s;
}
.links a:hover{
  color: var(--black-color);
  background-color: var(--white-color);
  border: 1px solid var(--white-color);
}

section.rights{
  background-color: var(--black2-color);
  padding: 1rem 0;
}
section.rights .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  color: var(--white-color);
}
section.rights .container p{
  font-size: 18px;
  margin-bottom: 0 !important;
}
section.rights .container img{
  width: 80px;
}

/* contact-us*/
.header{
  padding: 1.2rem 0;
}
.header h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: -3rem;
  color: var(--white-color);
}
.header img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(.5);
            filter: brightness(.5);
}

.form-select {
  padding: 1rem .85rem ;
  background-position: left 0.75rem center;
  border-radius: 0 !important;
  border: none;
  color: var(--light-grey-color);
  font-size: 16px;
}
.form-control{
  border-radius: 0 !important;
  padding: 1rem .85rem;
  border: none;
}
.form-control:focus ,
.form-select:focus{
  border: none;
  box-shadow: 0 0 0 0.25rem rgba(197, 197, 197, 0.25);
}
section.contact-us .contact-body{/*/////////*/
  position: relative;
  margin: 1rem 0 0rem 0;
}
section.contact-us .contact-body iframe{
  margin-bottom: 2rem;
}
section.contact-us .contact-body .contact-form{
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 2rem;
  width: 35%;
  padding: 2rem 1rem;
  background-color: var(--light-black-color);
  z-index: 1;
}
section.contact-us .contact-body .contact-form h3{
font-size: 24px;
font-weight: bold;
}
/* section.contact-us .contact-body .contact-form .form-control{
  font-size: 1.2rem;
} */
section.contact-us .contact-body .contact-form label{
  font-size: 16px;
  margin: .7rem 0;
}
section.contact-us .contact-body .contact-form input::-webkit-input-placeholder{
  color: var(--light-grey-color);
  font-size: 16px;
}
section.contact-us .contact-body .contact-form input::-moz-placeholder{
  color: var(--light-grey-color);
  font-size: 16px;
}
section.contact-us .contact-body .contact-form input:-ms-input-placeholder{
  color: var(--light-grey-color);
  font-size: 16px;
}
section.contact-us .contact-body .contact-form input::-ms-input-placeholder{
  color: var(--light-grey-color);
  font-size: 16px;
}
section.contact-us .contact-body .contact-form input::placeholder{
  color: var(--light-grey-color);
  font-size: 16px;
  opacity: .5;
}
.contact-us .header h2{
  color: var(--black-color);
}
 .header.dark h2{
  color: var(--black-color);
}
.contact-us .links a{
  color: var(--black-color);
  border: 1px solid var(--black-color);
}
.contact-us .links a:hover{
  color: var(--white-color);
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.contact-us .contacts{
  margin-right: 33rem;
  margin-bottom: 7rem;
  justify-content: space-between;
}

.contact-us .contacts .links{
  align-items: flex-end;
  margin-bottom: .7rem;
}

.contact-us .contacts .contacts-info h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

 .contacts .contacts-info h4{
  /* font-size: 20px; */
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0rem !important;
}
.contact-us  .contacts-info .email ,
.contact-us  .contacts-info .number ,
.contact-us  .contacts-info .address{ 
  color: var(--black2-color) !important;
  gap: .5rem;
  font-size: 16px !important;
  align-items: center;
  margin-bottom: 1rem;
}
.contact-us .contacts .contacts-info a{
  color: var(--black2-color) !important;
  font-size: 18px;
}

/* other header for works section */

.other-header{
  background-color: var(--black2-color);
  height: 100% !important;
  /* padding-bottom: 7rem; */
}
.other-header.article{
  padding-bottom: 0rem !important;
  background: url('../images/about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 89vh !important;
  position: relative;
}
.other-header.article .overlay{
  position: absolute !important;
  top: 0;
  left: 0;
  background-color: #00000092;
  width: 100%;height: 100%;
  z-index: 1;
}
.other-header.article .container{
  height: 100%;
}
.other-header.article .header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: flex-end; */
  position: relative;
  z-index: 2;
  height: 100%;

}
.other-header .header p{
  color: var(--white-color);
  font-size: 24px;
  /* width: 40%; */
}
.other-header.article .header h2{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--white-color);
  /* margin: 1rem 0; */
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid var(--white-color);
}
section.partners .owl-theme.services .owl-nav{
  display: none !important;
}

section.partners .owl-theme.services .owl-stage-outer {
  margin-right: 0rem;
}

/* who we page*/
.other-header.about{
  background-color: var(--white-color) !important;
  
}
.other-header.about .card ,
.other-header.about .card-footer{
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
}
.other-header.about .card {
  padding: 2rem 6.5rem 2rem 0;
  margin: 0 2rem;
}
.other-header.about .card-footer{
  -webkit-filter: brightness(0);
          filter: brightness(0);
}
.other-header.about .card-body h2{
  font-size: 32px !important;
  font-weight: bold ;
  margin-bottom: 1.5rem;
}
.other-header.about .card-body p{
  font-size: 18px;
  font-size: 300;
}
.other-header.about .img-about{
  background-color: var(--light-black-color);
}

.about-row{
  margin-right: unset !important; 
  margin-left: unset !important;
  --bs-gutter-x: 0;
}
/* how do section*/
.how-do{
  background-color: var(--black-color);
  color: var(--white-color);
}
.how-do .container{
  position: relative;
  /* height: 100%; */
  z-index: 1;
}

.how-do .overlay{
  /* display: flex;
  justify-content: flex-end; */
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 1;
  height:50%;
  width: 100%;
}
.how-do .overlay img{
  -o-object-fit: contain;
     object-fit: contain;
}

.how-do .header{
  border-bottom: 1px solid var(--white-color);
  padding: 0rem 0 4rem 0;
}

.how-do .nav-pills{
  margin-top: 2rem;
}

.how-do .tab-content{
  margin-top: 5rem;
}
.nav-pills .nav-link{
  text-align: start;
  color: var(--light-grey-color) !important;
  font-size: 24px;
  font-weight: bold;
  margin: .5rem 0;
}
.nav-pills .nav-link h2{
  font-size: 44px;
  font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--white-color) !important;
  background-color: transparent !important;
}

.how-do .tab-pane{
  font-size: 18px;
  font-weight: 300;
}

.vision .text h2{
  font-size: 28px;
  font-weight: bold;
}

.vision .text p{
  font-size: 18px;
  font-weight: 300;
}

/* blogs page */

/*article section*/
.articles{
  background-color: var(--black3-color);
}

.articles .filter {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 2rem 0 1rem 0;
  
}
.articles .filter::after{
  position: absolute;
  bottom: 0;
  content:"";
  width: 40%;
  border-bottom: 1px solid var(--grey-color);
}
.articles .filter .btn{
  color: var(--light-grey-color);
  font-size: 20px;
  border: none;
}
.articles .filter .btn.active{
  color: var(--white-color);
  border: none;
}
.articles .filter .btn:active {
  border-color: unset !important;
}
.articles .all-articles{
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
}
.articles .card{
  border: none;
  background-color: transparent;
}
.articles .card img{
  height: 100%;
}
.articles .card:hover img{
  transform: scale(1.3) ;
  transition: .3s;
}
.articles .card .card-img{
  height: 300px;
  max-height: 350px;
  overflow: hidden;
}

.articles .card .card-info{
  padding: .8rem 1rem;
  background-color: var(--light-black-color);
}
.articles .card .card-info h5{
  color: var(--grey2-color);
  font-size: 16px !important;
  margin-bottom: 0;
}
.articles .card .card-title{
  font-size: 20px;
  font-weight: bold;
  margin: .5rem 0 .6rem 0;
  color: var(--white-color);
}

.articles .card .body{
  font-size: 18px;
  font-weight: 300;
  color: var(--white-color);
}
.articles .card a.more{
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 20px;
  font-weight: bold;
  padding: .5rem 1rem;
  margin: 1rem 0 0 0;
  width: 50%;
}
.our-services{
  padding: 5rem 0;
}
.our-services .nav-link.active{
  color: var(--black-color) !important;
}

.our-services .nav-pills{
  border-top: 5px solid var(--blue-color);
}

.our-services .tab-pane {
  margin-top: 2rem;
}

.our-services .tab-pane p{
  font-size: 18px;
  font-weight: 300;
  color: var(--light-grey-color);
}

.our-services .tab-pane .groups{
  margin-top: 2rem;
}

.our-services .tab-pane .groups h5{
  font-size: 20px;
  font-weight: bold;
  color: var(--black-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  display: block;
}
.our-services .tab-pane .groups h5::after{
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75% !important;
  height: 3px !important;
  background-color: var(--blue-color) !important;
}
.our-services .container{
  position: relative;
}
.our-services .overlay{
  position:  relative !important;
}
.our-services .overlay img {
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-filter: brightness(0);
          filter: brightness(0);
          width: 100px;
          bottom: 0;
}




.privacy p{
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  color: var(--light-grey-color);
  margin-bottom: 1rem;
}


.single-project .title{
  margin-bottom: 1rem;
}
.single-project .title h2{
  font-size: 28px;
  font-weight: bold;
}

.single-project  .nav-pills {
  border-top: 5px solid var(--black-color) !important;
}
.single-project  .nav-link {
  margin: 0 1rem;
  border-bottom: 2px solid var(--black-color) !important;
  border-radius: 0;
}
.single-project .links {
  gap: .5rem;
}
.single-project .title .links a{
  color: var(--black-color);
  border: none;
}
.single-project .title .links a:hover{
  color: var(--white-color);
  background-color: var(--black-color);
  border: none;
}
.single-project .nav-pills .nav-link h2 {
  font-size: 24px;
}

.single-project .gallary img{
  width: 100%;
  max-height: 350px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
 
}

.single-project .navigation .btn{
  border-radius: 0;
}

.articles.single .card{
  width: 100% !important;
}
.articles.single .header h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0rem;
  color: var(--white-color);
  border-bottom: 2px solid var(--white-color);
  padding-bottom: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-article .header h2{
  border: none !important;
  /* margin-bottom: 0rem; */
}

.main-article .header .links{
  gap: .5rem !important;
}
.main-article .header .links a{
  border: none;
}
.main-article p{
  font-size: 18px;
  font-weight: 300;
  color: var(--light-grey-color);
  margin-bottom: 1rem;
  line-height: 2;
}
.main-article h3{
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.owl-theme.project-info .owl-nav {
  margin-top: 10px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin: 0 9rem;
}
.owl-theme.project-info .owl-nav button{
  background-color: var(--black-color);
}










  /* media query*/

  @media (max-width : 1024px){
    .other-header.about .card {
      padding: 0rem 0rem 0rem 0;
      margin: 0 2rem;
  }
  .contact-us .contacts {
    margin-right: 25rem;
}
.owl-theme.project-info .owl-nav {
  margin: 0 3rem;
}
  }





  @media (max-width: 991.98px) {
    nav.navbar {
      padding: .6rem 0;
  }
    section.about p{
      font-size: 18px;
      width: 70%;
      margin-bottom: -.5rem;
    }
    section.partners .owl-carousel .item {
      margin-right: -3rem;
  }
  footer .logo img{
    width: 50% !important;
  }
  footer .contacts {
    gap: 2rem;
  }
  section.projects .img-project {
    max-height: 210px;
}
 .overlay img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
.services .service .card-header, .services .service .card-body, .services .service .card-footer, .services .service .card {
  font-size: 20px;
}
section.services .services-header h2 {
  font-size: 24px;
}

section.services p {
  font-size: 18px;
}
section.services .services-row .service p {
  font-size: 16px;
}
.header h2 {
  font-size: 24px;
  margin-bottom: -1rem;
}
section.contact-us .contact-body{
  margin: 1rem 0 2rem 0;
}
section.contact-us .contact-body .contact-form{
  position: relative;
  top: 0;
  right: 0rem;
  width: 100%;
  padding: 2rem 1rem;
}
.contact-us .contacts {
  margin-right: 0.7rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
footer nav .nav-items .nav-item a {
  font-size: 16px;
}
.contacts .contacts-info h4 {
  font-size: 16px;
}
footer .email, footer .number, footer .email a, footer .number a {
  font-size: 13px;
}
.other-header.about .card {
  padding: 0rem 1rem 0rem 1rem;
  margin: 0 0rem;
}
.how-do .header {
  padding: 0rem 0px 2rem;
}
.how-do .overlay {
    height: 60%;
    width: 40%;
}
/* .menu {
  top: 68px;
  height: calc(100vh - 68px) !important;
} */
.menu .contacts{
  flex-wrap: wrap;
  
}
.menu .menu-nav {
  padding: .75rem;
}
.menu-work .latest img {
  width: 100%;
}

.articles .filter .btn {
  font-size: 16px;
}
.articles .filter::after {
    width: 60%;
}
.articles .filter {
  gap: .5rem;  
}
.articles .card a.more {
  font-size: 18px;
  padding: 0.3rem .5rem;
  width: 50%;
}
section.partners .owl-carousel.services .item {
  margin-right: 0rem;
}
.single-project .nav-pills .nav-link {
  font-size: 22px;
}
.owl-theme.project-info .owl-nav {
  margin: 0 3rem;
}
.single-project .title h2 {
  font-size: 20px;
}
.single-project .nav-pills .nav-link {
  font-size: 18px;
}
.our-services .tab-pane .groups h5{
  font-size: 13px;
  font-weight: bold;
  color: var(--black-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  display: block;
}
  }

  @media (max-width: 768px) {
    section.about p{
      font-size: 18px;
      width: 80%;
      margin-bottom: -.5rem;
    }
    .our-services .tab-pane .groups h5::after{
      width: 100% !important;
    }
  }




  @media (max-width: 575.98px) {
    .header h2 {
      font-size: 20px;
      font-weight: bold;
    }
    .nav-pills .nav-link {
      font-size: 20px;
  }
    section.about p{
      font-size: 16px;
      width: 80%;
      margin-bottom: -.5rem;
    }
    header .header-body .header-btns{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      bottom: 15%;
    }
    header .header-body .header-btns .btn{
      padding: 0.3rem 1rem;
      margin-left: 0rem;
      font-size: 1rem;
    }
    section.services .services-row .service {
      padding: 1rem 1rem;
  }
  section.services .services-row .service:nth-child(n) {
    border-top: 1px solid var(--grey-color);
    border-right: none;
  }
  section.services .services-row .service:nth-child(1){
    border-top: none;
  }
  section.partners .owl-carousel .item {
    margin-right: -7rem;
}
footer nav .nav-items{
  /* flex-direction: column; */
  gap: 1rem;
}
footer .contacts {
  justify-content: center;
  gap: 2rem;
}
footer .contacts-info {
  justify-content: center;
}
footer .email, footer .number, footer .email a, footer .number a {
  /* flex-wrap: wrap; */
  gap: 0.3rem;
}
footer .email , footer .number ,
footer .email a , footer .number a{
  justify-content: center;
  font-size: 16px;
}
section.rights .container p{
  font-size: 16px;
}
section.rights .container img{
  width: 60px;
}
section.projects .img-project {
  position: relative;
  max-height: 238px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.other-header.about .card {
  padding: 0rem 0rem 0rem 0;
  margin: 0 0rem;
}
.how-do .tab-content {
  margin-top: 2rem;
}
.vision .vision-img{
  display: none !important;
}
.menu .row{
  flex-wrap: wrap-reverse;
}
.menu-work .latest{
  margin-bottom: .5rem;
}
.menu .menu-nav .menu-links{
  height: 70%;
}
.menu .menu-nav .menu-links a {
  font-size: 20px;
  margin: 0.5rem 0;
}
.menu-work .latest img {
  width: 100%;
  height: 130px !important;
  -o-object-fit: contain;
     object-fit: contain;
}
.menu-work {
  padding: .75rem;
}
.menu .img-menu-footer {
  display: none;
}
.menu-work{
  display: none;
}
.articles .filter::after {
  width: 90%;
}
.articles .card{
  width: 100% !important;
  /* margin: 0 1rem; */
}
.owl-theme.project-info .owl-nav {
  margin: 0 1rem;
}
footer nav .nav-items{
  justify-content: space-evenly;
}
.owl-theme .owl-nav .owl-btn h4 {
  font-size: 18px;
}
  }